
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.app{
  padding: 5;
  min-height: 75px ;
  justify-content: center;
  align-items: center;
  background-image: url('background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
}

.header {
  border-bottom: 50px solid rgb(82, 140, 206);
  background-color: rgba(142, 234, 239, 0.3);
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar a {
  color: rgb(96, 214, 247);
}
.sidebar {
  width: 120px;
  margin: 5px;
  position: sticky;
  top: 62px;
  align-self: flex-start;
  align-items: start;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar a {
  color: #444;
}

.sidebar a:hover {
  background-color: #eee;
}

.sidebar a:visited {
  color: #444;
}

.sidebar .nav-item .active {
  background-color: #def;
}

.center-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: Arial, sans-serif;
  color: #333; /* Dark text color */
  background-color: rgb(178, 216, 242); /* Ombre effect */
}

/* .whiteboard.button {
  background-color: #c98ff9;
} */

